---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import profileImage from "../assets/profile.jpg";

const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.filter((post) => !post.data.draft)
	.slice(0, 3);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="landing-top">
				<h1>Matti Vähä-Heikkilä</h1>
				<div class="sub-header">
					<div>
						<div class="img-circle">
							<Image src={profileImage} alt="Matti Vähä-Heikkilä" />
						</div>
					</div>
					<div style="display: flex; flex-direction: column;">
						<ul>
							<li>Turun kaupunginvaltuutettu</li>
							<li>Kehityspäällikkö, Tekniikan akateemiset TEK</li>
							<li>Juoksija ja maailmaa tutkiva datafani</li>
						</ul>
						<p style="padding: 0rem 2rem;">
							Ehdolla Turun kaupunginvaltuustoon kuntavaaleissa 2025 <br>
							<b>Äänestysnumero 642</b> <br>
							Ennakkoäänestys 2.-8.4. <br>
							Vaalipäivä 13.4.2025

						</p>
					</div>
				</div>
			</section>
			<hr />

			<section class="highlights">
				<h4>Viimeisintä blogissani</h4>
				{
					posts.map((post) => (
						<div class="post">
							<h5>
								<a href={`/blog/${post.slug}.html`}>{post.data.title}</a>
							</h5>
							<p>{post.data.description}</p>
							<span>
								<FormattedDate date={post.data.pubDate} />
							</span>
						</div>
					))
				}
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	.landing-top {
		border-radius: 0.5rem;
		padding: 2rem 1rem;
	}
	.sub-header {
		display: flex;
		justify-content: flex-center;
		align-items: center;
		flex-direction: row;
		margin-top: 2rem;
	}

	.img-circle {
		border-radius: 50%;
		display: flex;
		width: 240px;
		height: 240px;
		display: inline-block;
		text-align: center;
		overflow: hidden;
		background: #fff;
		border: 2px solid var(--accent);
	}

	.img-circle img {
		width: 100%;
	}
	.highlights {
		margin: 2rem 0;
	}
	.sub-header ul {
	}
	.post {
		margin: 1.5rem 0;
	}
	.post > * {
		margin: 0.5rem 0;
		line-height: 1;
	}
	.post > span {
		font-size: 1rem;
		color: var(--gray);
	}
	@media (max-width: 720px) {
		.landing-top {
			padding: 1rem;
		}

		.landing-top h1 {
			text-align: center;
		}
		.sub-header {
			flex-direction: column;
			align-items: center;
		}
		.sub-header img {
			margin: 0;
			max-width: 80%;
		}
	}
</style>
